fastapi
uvicorn
pydantic
python-multipart
langgraph
langchain-core
langchain-community
langchain-groq
langchain-ollama
psycopg2-binary
requests
passlib[bcrypt]
python-dotenv
SpeechRecognition
gTTS
numpy
pgvector
sentence-transformers
pypdf
beautifulsoup4
langchain-text-splitters
tavily-python
typing_extensions
